NODE_ENV=development

PORT = 3000

POSTGRES_URL=
REDIS_URL=

DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
# Optional: Discord channel for startup notifications
DEBUG_CHANNEL_ID=
DISCORD_DEVELOPMENT_GUILD_ID=

JWT_SECRET=<random secret>

TELEGRAM_BOT_TOKEN=
TELEGRAM_API_ROOT=https://api.telegram.org

# DATABASE CONFIGURATION

POSTGRES_USER=root
POSTGRES_PASSWORD=secret
POSTGRES_DB=bot-rgd-chat
